body {
  background: lavender;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  text-align: center;
}

#svg_container {
  position: relative;
}

#x-axis, #y-axis {
  font-size: 0.75rem;
}

footer {
  font-size: 0.8rem;
}

#tooltip {
  position: absolute;
  width: 140px;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
  background: rgba(106, 90, 205, 0.85);
  text-align: center;
  font-weight: bold;
}

#legend {
  font-weight: bold;
}

#legend rect {
  width: 45px;
  height: 45px;
}

.values {
  text-anchor: middle;
  font-size: 0.7rem;
}
